Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans:A database is a collection of data that is organized and structured in a way that allows for efficient storage, retrieval, and manipulation of information. Databases are commonly used in various applications such as e-commerce, healthcare, finance, and social media.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two types of database management systems (DBMS) that differ in their data models, schema, and querying methods.
SQL databases use a relational data model with a predefined schema, while NoSQL databases use a non-relational data model with a flexible schema. SQL databases provide strong data consistency and a standardized querying language, while NoSQL databases offer high scalability and performance for handling large volumes of unstructured data. The choice between SQL and NoSQL databases often depends on the specific needs of the application, such as the type of data being stored, the desired level of data consistency, and the expected usage patterns.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans:DDL stands for Data Definition Language, and it is a set of SQL statements used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints.

The following are some examples of common DDL statements and their uses:

1.CREATE: The CREATE statement is used to create a new database object, such as a table or view. For example, the following statement creates a new table named "employees" with three columns: id, name, and salary.
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    salary DECIMAL(10,2)
);
2.DROP: The DROP statement is used to delete an existing database object, such as a table or view. For example, the following statement drops the "employees" table:
            DROP TABLE employees;
3.ALTER: The ALTER statement is used to modify the structure of an existing database object, such as a table or column. For example, the following statement adds a new column named "department" to the "employees" table:
    ALTER TABLE employees
ADD COLUMN department VARCHAR(50);
4.TRUNCATE: The TRUNCATE statement is used to delete all data from a table, but not the table itself. For example, the following statement deletes all data from the "employees" table:
        TRUNCATE TABLE employees;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Ans:DML stands for Data Manipulation Language, and it is a set of SQL statements used to manipulate data in a database. DML statements are used to insert, update, and delete data in tables.

The following are some examples of common DML statements and their uses:

1.INSERT: The INSERT statement is used to add new data to a table. For example, the following statement inserts a new row into the "employees" table:
    INSERT INTO employees (id, name, salary)
VALUES (1, 'John Smith', 50000);
2.UPDATE: The UPDATE statement is used to modify existing data in a table. For example, the following statement updates the salary of the employee with id=1:
     UPDATE employees
         SET salary = 55000
            WHERE id = 1;
3.DELETE: The DELETE statement is used to remove data from a table. For example, the following statement deletes the employee with id=1:
    DELETE FROM employees
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

Ans:DQL stands for Data Query Language, and it is a set of SQL statements used to retrieve data from a database. DQL statements are used to query and retrieve data from tables.

The following is an example of a common DQL statement and its use:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. For example, the following statement retrieves all the data from the "employees" table:
SELECT * FROM employees;
       DQL statements are used to retrieve data from a database, and the most common DQL statement is the SELECT statement. The SELECT statement is used to specify the columns to be retrieved from a table, and it can include WHERE clauses to filter the data based on specific conditions.

Q5. Explain Primary Key and Foreign Key.

Ans:In a relational database, a primary key and a foreign key are two types of constraints that are used to establish relationships between tables.

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table. The primary key must be unique and cannot have any null values. In addition, a table can have only one primary key. Primary keys are used to enforce data integrity and ensure that each row in a table can be uniquely identified.

A foreign key is a column or a set of columns in a table that refers to the primary key of another table. The foreign key establishes a link between the two tables and is used to enforce referential integrity. The foreign key must reference an existing primary key in another table, and it can have null values. A table can have multiple foreign keys, and each foreign key can reference the same primary key or a different primary key.

Here's an example that illustrates how primary keys and foreign keys are used in a database. Consider two tables, "employees" and "departments". The "employees" table contains information about the employees in a company, while the "departments" table contains information about the departments in the company.

The "employees" table might have columns like "id", "name", "salary", and "department_id". The "id" column could be the primary key for the "employees" table, while the "department_id" column could be a foreign key that refers to the "id" column in the "departments" table. The "departments" table might have columns like "id" and "name", with "id" being the primary key.

By using a foreign key in the "employees" table that references the "id" column in the "departments" table, we can establish a relationship between the two tables. This relationship can be used to ensure that all employees are assigned to a valid department and to perform queries that join the two tables based on the department id.

 A primary key is a column or set of columns that uniquely identifies each row in a table, while a foreign key is a column or set of columns that refers to the primary key of another table. These two constraints are used to establish relationships between tables in a relational database and to enforce data integrity and referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans:
    import mysql.connector

# create a connection to the MySQL server
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object to interact with the database
mycursor = mydb.cursor()

# execute a query
mycursor.execute("SELECT * FROM mytable")

# fetch the results of the query
results = mycursor.fetchall()

# print the results
for row in results:
     print(row)
            
            1.cursor():A cursor object is created using the cursor() method of the connection object. The cursor object is used to execute queries and fetch the results.

2.execute():The execute() method of the cursor object is used to execute a SQL query. In this example, the query is a simple SELECT statement that retrieves all the rows from a table named "mytable". 
    
          the cursor() method is used to create a cursor object, which is used to execute queries and fetch results. The execute() method is used to execute a SQL query, and the fetchall() method is used to retrieve the results of the query.

Q7. Give the order of execution of SQL clauses in an SQL query.
Ans:
    The order of execution of SQL clauses in an SQL query generally follows these steps:

1.FROM clause: This specifies the tables from which the data will be retrieved.

2.JOIN clause: If the query involves a join operation, the JOIN clause specifies how the tables are to be joined.

3.WHERE clause: This filters the data based on a specific condition.

4.GROUP BY clause: This groups the data based on one or more columns.

5.HAVING clause: This filters the grouped data based on a specific condition.

6.SELECT clause: This selects the columns to be retrieved from the table.

7.DISTINCT clause: This removes duplicates from the results.

8.ORDER BY clause: This sorts the results based on one or more columns.

9.LIMIT clause: This limits the number of rows returned by the query.